anyio==3.5.0
asgiref==3.5.0
click==8.0.4
fastapi==0.75.0
h11==0.13.0
idna==3.3
pydantic==1.9.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.6
openpyxl==3.1.2
pandas==2.0.1
pytz==2023.3
Requests==2.30.0
selenium==4.9.1
simple_salesforce==1.12.3
#webdriver_manager==3.8.6
webdriver_manager==4.0.0
xls2xlsx==0.2.0
boto3
python-dotenv